#react-app .host-page .actions {
	display: flex;
}

#react-app .host-page .actions > * {
	display: flex;
	flex: 1 1 50%;
	flex-direction: column;
	max-width: 50%;
}

#react-app .host-page .actions > * > *,
#react-app .guest-list {
	margin-top: 1em;
}

#react-app .host-page .actions > * > button,
#react-app .guest-list .header,
#react-app .guest-list .body.open {
	padding: 0.5em;
}

#react-app .host-page .actions .controls > div,
#react-app .host-page .actions .input-group {
	display: flex;
}

#react-app .host-page label {
	font-weight: 700;
}

#react-app .host-page .actions .controls > div > *,
#react-app .host-page .actions label,
#react-app .host-page .actions input,
#react-app .host-page .actions > * > button {
	max-width: 50%;
	width: 15em;
}


#react-app .guest-list .header {
	border: 1px solid black;
	cursor: pointer;
	position: relative;
}

#react-app .guest-list .header i {
	position: absolute;
	right: 0.5em;
	top: 50%;
	transform: translateY(-50%);
}

#react-app .guest-list .body {
	display: none;
}

#react-app .guest-list .body.open {
	border: 1px solid black;
	display: block;
}

#react-app .guest-list .body.open > div:first-child {
	display: flex;
}

#react-app .guest-list .body.open > div:first-child > *:first-child {
	flex: 0 0 auto;
}

#react-app .guest-list .body.open > div:first-child > *:last-child {
	flex: 1 1 auto;
}

#react-app .guest-list .profile-image {
	background-position: center;
	background-size: contain;
	height: 6em;
	width: 6em;
}

#react-app .host-page .actions > * > button {
	background-color: #ffffff;
	border: 1px solid black;
	color: black;
	display: block;
	font-family: inherit;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	text-transform: none;
}