#react-app .message {
	align-items: center;
	background-color: #eeeeee;
	border-color: transparent;
	border-style: solid;
	border-width: 0;
	box-sizing: border-box;
	display: flex;
	height: 0;
	left: 0;
	overflow: hidden;
	padding: 0 2em 0 1em;
	position: absolute;
	top: 0;
	transition: all 1s ease-in-out;
	width: 100%;
}

#react-app .message.has-content {
	border-color: #000000;
	border-width: 1px;
	height: calc(4em + 2px);
	padding: 1em 2em 1em 1em;
}

#react-app .message-close-icon {
	cursor: pointer;
	position: absolute;
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
}
