#react-app .login-page h2 {
	font-size: 1.5em;
	margin: 0 0 0.83em;
}

#react-app .login-page-form {
	display: flex;
	font-size: 1.25em;
	margin-bottom: 1em;
}

#react-app .login-page-form label {
	flex: 1 0 auto;
	margin-right: 1em;
}

#react-app .login-page-form input {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid black;
	flex: 1 1 auto;
	font-size: inherit;
	min-width: 0;
	outline: none;
	padding: 1px 2px;
}

#react-app .login-page-form input:focus {
	border-bottom-color: #e59700;
}

#react-app .login-page a {
	text-decoration: none;
}

#react-app .login-page button {
	background-color: #ffffff;
	border: 1px solid black;
	color: black;
	display: block;
	font-family: inherit;
	font-size: 1.25em;
	font-weight: 400;
	padding: 0.5em;
	text-align: center;
	text-transform: none;
	width: 100%;
}
