#react-app .rate-match-page {
	font-size: 1.25em;
}

#react-app .rate-match-page .timer {
	text-align: center;
}

#react-app .rate-match-page .row {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1em;
}

#react-app .rate-match-page button {
	background-color: #ffffff;
	border: 1px solid black;
	color: black;
	display: block;
	flex: 1 1 50%;
	font-family: inherit;
	font-size: 1.25em;
	font-weight: 400;
	margin-right: 0.5em;
	padding: 0.5em;
	text-align: center;
	text-transform: none;
}

#react-app .rate-match-page button:last-child {
	font-size: 0.75em;
	margin: 0;
}
