#react-app .rate-event-page {
	font-size: 1.25em;
}

#react-app .rate-event-page .stars {
	color: #ffcc00;
	display: flex;
	flex-direction: row-reverse;
	font-size: 3em;
	justify-content: flex-end;
}

#react-app .rate-event-page .stars .star-wrapper {
	cursor: pointer;
}

#react-app .rate-event-page .stars .empty-star {
	display: block;
}

#react-app .rate-event-page .stars .full-star {
	display: none;
}

#react-app .rate-event-page .stars .star-wrapper:hover .empty-star,
#react-app .rate-event-page .stars .star-wrapper:hover ~ .star-wrapper .empty-star,
#react-app .rate-event-page .stars .star-wrapper.selected .empty-star,
#react-app .rate-event-page .stars .star-wrapper.selected ~ .star-wrapper .empty-star {
	display: none;
}

#react-app .rate-event-page .stars .star-wrapper:hover .full-star,
#react-app .rate-event-page .stars .star-wrapper:hover ~ .star-wrapper .full-star,
#react-app .rate-event-page .stars .star-wrapper.selected .full-star,
#react-app .rate-event-page .stars .star-wrapper.selected ~ .star-wrapper .full-star {
	display: block;
}

#react-app .rate-event-page input {
	border: none;
	border-bottom: 2px solid black;
	font-size: 1.25em;
	outline: none;
	width: 100%;
}

#react-app .rate-event-page input:focus {
	border-bottom-color: #e59700;
}

#react-app .rate-event-page button {
	background-color: #ffffff;
	border: 1px solid black;
	display: block;
	font-size: 1.25em;
	margin-top: 1em;
	padding: 0.5em;
	width: 100%;
}
