#react-app .matching-page {
	font-size: 1.25em;
}

#react-app .matching-page .row {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1em;
}

#react-app .matching-page .row img {
	height: 80px;
	width: auto;
}

#react-app .matching-page .small {
	font-size: 1em;
}

#react-app .matching-page .person-id {
	font-size: 2em;
	font-weight: 700;
	margin: 1em 0;
}

#react-app .matching-page button {
	background-color: #ffffff;
	border: 1px solid black;
	color: black;
	display: block;
	flex: 1 1 50%;
	font-family: inherit;
	font-size: 1.25em;
	font-weight: 400;
	padding: 0.5em;
	text-align: center;
	text-transform: none;
}

#react-app .matching-page button:first-child {
	margin-right: 0.5em;
}
